<launch>

  <arg name="robot_id" default="$(optenv ROBOT_ID unnamed_robot)" />

  <arg name="invert_tf" default="False" />


  <group ns="$(arg robot_id)">

    <node pkg="tf2_ros" type="static_transform_publisher"
      name="tf_hokuyo_ust10lx"
      args="0.120 0 0.2666 0 0 0 $(arg robot_id)/base_link $(arg robot_id)/laser"
      output="screen"
      unless="$(arg invert_tf)" />

    <node pkg="tf2_ros" type="static_transform_publisher"
      name="tf_hokuyo_ust10lx"
      args="-0.120 0 -0.2666 0 0 0 $(arg robot_id)/laser $(arg robot_id)/base_link"
      output="screen"
      if="$(arg invert_tf)" />

  </group>

</launch>