<launch>

  <arg name="robot_id" default="$(optenv ROBOT_ID unnamed_robot)"/>



  <include file="$(dirname)/rs_camera.launch">
    <arg name="camera" default="$(arg robot_id)/camera"/>

    <arg name="json_file_path"      default="$(dirname)/settings_l515.json"/>

    <arg name="fisheye_width"       default="640"/>
    <arg name="fisheye_height"      default="480"/>
    <arg name="enable_fisheye"      default="false"/>

    <arg name="depth_width"         default="640"/>
    <arg name="depth_height"        default="480"/>
    <arg name="enable_depth"        default="true"/>

    <arg name="confidence_width"    default="640"/>
    <arg name="confidence_height"   default="480"/>
    <arg name="enable_confidence"   default="false"/>
    <arg name="confidence_fps"      default="6"/>

    <arg name="infra_width"         default="640"/>
    <arg name="infra_height"        default="480"/>
    <arg name="enable_infra"        default="false"/>
    <arg name="enable_infra1"       default="false"/>
    <arg name="enable_infra2"       default="false"/>
    <arg name="infra_rgb"           default="false"/>

    <arg name="color_width"         default="640"/>
    <arg name="color_height"        default="480"/>
    <arg name="enable_color"        default="true"/>

    <arg name="fisheye_fps"         default="6"/>
    <arg name="depth_fps"           default="30"/>
    <arg name="infra_fps"           default="6"/>
    <arg name="color_fps"           default="6"/>
    <arg name="gyro_fps"            default="6"/>
    <arg name="accel_fps"           default="6"/>
    <arg name="enable_gyro"         default="false"/>
    <arg name="enable_accel"        default="false"/>

    <arg name="enable_pointcloud"         default="true"/>
    <arg name="pointcloud_texture_stream" default="RS2_STREAM_COLOR"/>
    <arg name="pointcloud_texture_index"  default="0"/>
    <arg name="allow_no_texture_points"   default="true"/>
    <arg name="ordered_pc"                default="true"/>

    <arg name="enable_sync"               default="true"/>
    <arg name="align_depth"               default="true"/>

    <arg name="publish_tf"                default="true"/>
    <arg name="tf_publish_rate"           default="0"/>

    <arg name="filters"                   default=""/>
    <arg name="clip_distance"             default="-2"/>
    <arg name="linear_accel_cov"          default="0.01"/>
    <arg name="initial_reset"             default="false"/>
    <arg name="reconnect_timeout"         default="6.0"/>
    <arg name="wait_for_device_timeout"   default="-1.0"/>
    <arg name="unite_imu_method"          default=""/>
    <arg name="topic_odom_in"             default="odom_in"/>
    <arg name="calib_odom_file"           default=""/>
    <arg name="publish_odom_tf"           default="true"/>

    <arg name="stereo_module/exposure/1"  default="7500"/>
    <arg name="stereo_module/gain/1"      default="16"/>
    <arg name="stereo_module/exposure/2"  default="1"/>
    <arg name="stereo_module/gain/2"      default="16"/>
  </include>
</launch>
