<launch>

  <arg name="robot_id" default="$(optenv ROBOT_ID unnamed_robot)" />

  <arg name="rviz_directory" default="$(dirname)" />


  <group ns="$(arg robot_id)">

    <node pkg="rviz" type="rviz" name="rviz"
      args="-d $(arg rviz_directory)/rviz.rviz"
      clear_params="true" output="$(optenv ROBOT_OUTPUT screen)" />

  </group>

</launch>