<launch>

  <arg name="robot_id" default="$(optenv ROBOT_ID unnamed_robot)" />


  <group ns="$(arg robot_id)">

    <node pkg="inesctec_mrdt_hangfa_discovery_q2_driver"
      type="inesctec_mrdt_hangfa_discovery_q2_driver"
      name="inesctec_mrdt_hangfa_discovery_q2_driver" output="screen">

      <param name="encoder_res" value="48.0" />
      <param name="gear_reduction" value="64.0" />
      <param name="serial_port_name" value="/dev/ttyACM0" />

    </node>

  </group>

</launch>